@import "../scss/variables";

.button {
  display: inline-block;
  border: none;
  border-radius: $border-radius;
  font-size: 1.6rem;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s;

  &:hover,
  &:focus {
    outline: none;
  }

  & + .button {
    margin-left: 1rem;
  }
}

.primary {
  composes: button;
  padding: 1rem 1.5rem;

  &:hover,
  &:focus {
    box-shadow: 0 1rem 2rem rgba($color-black, 0.3);
  }
}

.danger {
  composes: button;

  &:hover,
  &:focus {
    color: $color-red;
  }
}
