@import "./scss/variables";
@import "./scss/mixins";

.form {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchIcon {
  font-size: 1.3rem;
}

.input {
  margin: 0 1rem;
  padding: 1rem;
  border: none;
  border-radius: $border-radius;
  font-size: 1.6rem;
  font-family: inherit;
  background-color: $color-white;
  transition: all 0.3s;

  &:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.3);
  }

  &::-webkit-input-placeholder {
    color: $color-darkgrey;
  }

  &.invalid,
  &.invalid:focus {
    box-shadow: 0 1rem 2rem rgba($color-red, 0.3);
  }
}

.main {
  display: flex;
  flex-direction: column;
  padding: 2rem;

  @include respond-tablet {
    padding: 3rem 8rem;
  }

  @include respond-desktop {
    flex-direction: row;
  }
}

.section {
  width: 100%;
  padding: 2rem;
  border: 2px solid $color-primary;
  border-radius: $border-radius;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }

  @include respond-desktop {
    margin: 0 2rem;

    &:not(:last-child) {
      margin-bottom: 0rem;
    }
  }
}

.sectionHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.loader {
  width: 5rem;
  height: 5rem;
  margin: auto;
  border: 1rem solid $color-primary;
  border-top: 1rem solid $color-black;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

.error {
  color: $color-red;
}

.cities {
  @include list;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color-black, 0.5);
  z-index: 1000;
  cursor: pointer;

  &.visible {
    display: block;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
