@import "../scss/variables";

.menu {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  min-height: 100%;
  padding: 1rem;
  background-color: $color-primary;
  z-index: 1000;

  &.open {
    display: block;
  }
}
